html, body {
    height: 100%;
    width: 90%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

textarea {
    width: 500px;
    height: 100px;
}

.help-inline {
    color: red;
    font-weight: bold;
}

.warn {
    color: blue;
}

.help-block {
    color: white;
}